<section class="mx-auto w-4/5">
  <div class="rounded-lg border-6 p-7 pt-5 my-5 bg-white dark:bg-slate-800 dark:border-none shadow-xl">
    <h1 class="text-8xl mt-3 mb-8">Kepler</h1>
    <p class="text-lg">Stargazing for developers</p>
  </div>
</section>
