<%# -*- mode: web -*- %>

<h1>Hello there <%= @current_user.name %> (Username <%= @current_user.username %>)</h1>

<h3>Stars</h3>

<ul>
<%= for %{name: name, owner: owner, url: url} <- @stars do %>
    <li><a href="<%= url %>">Name: <%= name %>; owner: <%= owner %></a></li>
<% end %>
</ul>
